mailInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/bw-framework-eai/framework/resources/XSD/mailInfo.xsd"
	 targetNamespace="http://www.tibco.com/schemas/bw-framework-eai/framework/resources/XSD/mailInfo.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="mailInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Status" type="xs:string" minOccurs="0"/>
				<xs:element name="MssgDetails" type="xs:string" minOccurs="0"/>
				<xs:element name="MailingList" type="xs:string"/>
				<xs:element name="ProjectName" type="xs:string" minOccurs="0"/>
				<xs:element name="Context" type="xs:string" minOccurs="0"/>
				<xs:element name="Mssg" type="xs:string"/>
				<xs:element name="attachments" type="MailAttachments" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MailAttachment">
		<xs:sequence>
			<xs:element name="fileName" type="xs:string"/>
			<xs:element name="contentType" type="xs:string" minOccurs="0"/>
			<xs:element name="content" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MailAttachments">
		<xs:sequence>
			<xs:element name="attachment" type="MailAttachment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
